
<div class="section1">
  <div class="banner ig-mayfair" style="background: linear-gradient(-225deg, rgba(48,67,82,0.6) 0%, rgba(215,210,204,0.6) 100% ), url(<%= image_url('banner2.jpg') %>);">
    <div class="banner-content">
       <div class="logo"><%= image_tag "l.png" %>
        <div class="text-center form-inline">
          <%= link_to t(".top_call_to_action", default: "Trouver un dossard"), "/races", class: "navbar-wagon-item navbar-wagon-button btn" %>
          <%= link_to t(".top_call_to_action", default: "Déposer votre dossard"), "/bibs/new", class: "navbar-wagon-item navbar-wagon-button-buy btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
