<!-- Banner with search buttons  -->
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('banner.jpg');">
  <div class="banner-content">
    <h1>Marathon de New York</h1>
    <p></p>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <p>Le premier marathon de New York City s’est tenu en 1970, les 127 concurrents présents, qui ont tous payé 1$ d'inscription1, ont couru plusieurs boucles autour de Park Drive dans Central Park. Seulement une centaine de spectateurs ont pu observer la victoire de Gary Muhrcke en 2 h 31 min 38 s. Pour cette première édition, seuls 55 coureurs ont passé la ligne d'arrivée. Au cours des années, le marathon s'est beaucoup développé.

          Afin de s'adapter au nombre grandissant des participants, en 1976, le cofondateur de la course Fred Lebow, alors président du New York Road Runners Club, décide de re-dessiner le parcours pour que les coureurs puissent traverser les cinq arrondissements sur lesquels la ville de New York s’étend ; le succès populaire est au rendez-vous1. Cette même année, l'Américano-cubaine Rosie Ruiz triche pour obtenir un temps de 2 h 561. L'année suivante, les inscriptions à l'épreuve sont décuplées après que le film Marathon Man ait marqué les esprits1. Le marathon a accru sa popularité un an après lorsque la Norvégienne Grete Waitz bat le record du monde en passant la ligne d’arrivée après 2 h 32 min 30 s de course. Elle gagnera neuf fois en onze participations1. Au début des années 1980 est raccourci par erreur de 150 mètres, et le record d'Alberto Salazar en 2 h 8 min 13 s est invalidé.</p>
        </div>
      </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-2">
              <div class="input-group">

                <div class="profile-header-infos">
                  <img src="nicolas.jpg" alt="">
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
