<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">

        <div class="col-sm-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('urban_trail.jpg');">
            <div class="card-category">
              <span class="label label-default">6 bibs only!</span>
            </div>
            <div class="card-description">
              <h2>Course de Bordeaux</h2>
              <h2><span class="label label-success">60€</span></h2>
              <p>Urban trail | 14/06/2016</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('cross.jpg');">
            <div class="card-category">
              <span class="label label-default">6 bibs only!</span>
            </div>
            <div class="card-description">
              <h2>Urban trail Bordeaux</h2>
              <h2><span class="label label-success">60€</span></h2>
              <!-- <span class="label label-primary">60€</span> -->
              <p>14/06/2016</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('night_race.jpg');">
            <div class="card-category">
              <span class="label label-default">6 bibs only!</span>
            </div>
            <div class="card-description">
              <h2>Urban trail Bordeaux</h2>
              <h2><span class="label label-success">60€</span></h2>
              <!-- <span class="label label-primary">60€</span> -->
              <p>14/06/2016</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('team_race.jpg');">
            <div class="card-category">
              <span class="label label-default">6 bibs only!</span>
            </div>
            <div class="card-description">
              <h2>Urban trail Bordeaux</h2>
              <h2><span class="label label-success">60€</span></h2>
              <!-- <span class="label label-primary">60€</span> -->
              <p>14/06/2016</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('banner.jpg');">
            <div class="card-category">
              <span class="label label-default">6 bibs only!</span>
            </div>
            <div class="card-description">
              <h2>Urban trail Bordeaux</h2>
              <h2><span class="label label-success">60€</span></h2>
              <!-- <span class="label label-primary">60€</span> -->
              <p>14/06/2016</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('urban_trail.jpg');">
            <div class="card-category">
              <span class="label label-default">6 bibs only!</span>
            </div>
            <div class="card-description">
              <h2>Urban trail Bordeaux</h2>
              <h2><span class="label label-success">60€</span></h2>
              <!-- <span class="label label-primary">60€</span> -->
              <p>14/06/2016</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>


      </div>
    </div>

    <div class="col-sm-6">
      <div class="card-category">GOOGLE MAP</div>
    </div>

  </div>
</div>
