.profile-header-container img {
  width: 100px;
  border-radius: 50%;
}
.profile-header-wrapper {
  background: #53443F;
  background-size: cover !important;
  display: flex;
  align-items: center;
  background-position: center center !important;
}
.profile-header-infos {
  padding: 20px 0;
  text-align: center;
  display: center;
}
.profile-header-container h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
}
.profile-header-container h2 {
  color: white;
  opacity: 0.4;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 0;
  letter-spacing: -1px;
}
.profil-bottom{
  margin-top: 100px;
  text-align: center;
}
.tabs {
  display: flex;
  padding: 10px 10px 0 10px;
}
.tabs a {
  color: black;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  // background: #3E8E75;
  background: white;
  flex: 0 0 50%;
  text-align: center;
  padding: 5px 0;
  box-shadow: inset 0 -3px 6px 0px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
  box-shadow: none;
  opacity: 1;
&:hover{
  opacity: 1;
  }
}
